{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <h2 class="mb-3">Edit Page</h2>
  <form
    action="{{ url_for('pages.edit_page', page_title=page.title) }}"
    method="POST"
  >
    {{ form.hidden_tag() }}

    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      {{ form.title(class="form-control") }} {% if form.title.errors %}
      <div class="alert alert-danger">
        {% for error in form.title.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="mb-3">
      {{ form.content.label(class="form-label") }} {% if form.content.errors %}
      <div class="invalid-feedback">
        {% for error in form.content.errors %} {{ error }} {% endfor %}
      </div>
      {% endif %}
      <!-- Dodajte TinyMCE editor za unos sadržaja -->
      <textarea
        class="form-control tinymce_"
        id="content"
        name="content"
        placeholder="Enter content"
        rows="10"
      >
        {{ form.content.data | safe }}
      </textarea>
    </div>

    <div class="mb-3 form-check">
      {{ form.is_header(class="form-check-input") }}
      <label class="form-check-label" for="is_header">Make it Header</label>
    </div>

    <button type="submit" class="btn btn-primary">Update Page</button>
  </form>
</div>
{% endblock %}
