{% extends 'base.html' %} {% block content %}
<div class="container mt-4 text-center" style="max-width: 1300px; margin: auto">
  <h2 class="mb-3">Administration Settings</h2>

  <!-- Sekcija za Grafikon Statistike Poseta -->
  <div class="container text-center" style="max-width: 1100px; margin: auto">
    <div class="row">
      <div class="col text-center">
        <h5>Visits</h5>
        <!-- Buttons for switching views -->
        <div class="mb-3">
          <button id="daily-btn" class="btn btn-primary btn-sm">
            Daily View
          </button>
          <button id="weekly-btn" class="btn btn-primary btn-sm">
            Weekly View
          </button>
          <button id="monthly-btn" class="btn btn-primary btn-sm">
            Monthly View
          </button>
        </div>
        <!-- Canvas for the chart -->
        <canvas id="visitsChart"></canvas>
      </div>
    </div>
  </div>

  <!-- Radar Grafikon -->
  <div class="col">
    <h5>Live Tracking</h5>
    <canvas id="radarChart"></canvas>
  </div>
</div>

<!-- Trening Grafikon -->
<div class="container" style="max-width: 1100px; margin: auto">
  <div class="row row-cols-2">
    <div class="col">
      <h5>Sessions</h5>
      <canvas id="personalTrainingChart"></canvas>
    </div>

    <!-- Statistika Grafikon -->
    <div class="col">
      <h5>Statistic</h5>
      <canvas id="blogStatisticsChart"></canvas>
    </div>
  </div>
</div>
<hr />
<!-- Tabela za Korisnici -->
<h3>Users</h3>
<table class="table table-sm table-hover table-borderless">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <!-- First list admin users -->
    {% for user in users if user.is_admin %}
    <tr class="table-danger">
      <!-- Highlight for admins -->
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        <a
          href="{{ url_for('admin.edit_user', user_id=user.id) }}"
          class="btn btn-secondary btn-sm"
          >Edit</a
        >
        <form
          action="{{ url_for('admin.delete_user', user_id=user.id) }}"
          method="post"
          class="d-inline"
        >
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
    <!-- Then list other users -->
    {% for user in users if not user.is_admin %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        <a
          href="{{ url_for('admin.edit_user', user_id=user.id) }}"
          class="btn btn-secondary btn-sm"
          >Edit</a
        >
        <form
          action="{{ url_for('admin.delete_user', user_id=user.id) }}"
          method="post"
          class="d-inline"
        >
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Tabela za Stranice -->
<h3>Pages</h3>
<table class="table table-sm table-hover table-borderless">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Page</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for page in pages %}
    <tr>
      <td>{{ page.id }}</td>
      <td>
        <a
          href="{{ url_for('pages.show_page', page_name=page.title) }}"
          target="_blank"
          >{{ page.title }}</a
        >
      </td>
      <td>
        <a
          href="{{ url_for('pages.edit_page', page_title=page.title) }}"
          class="btn btn-secondary btn-sm"
          >Edit</a
        >
        <a
          href="{{ url_for('pages.delete_page', page_title=page.title) }}"
          class="btn btn-danger btn-sm"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Tabela za Novosti -->
<h3>News</h3>
<table class="table table-sm table-hover table-striped table-borderless">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for news in news_items %}
    <tr>
      <td>{{ news.id }}</td>
      <td>{{ news.title }}</td>
      <td>
        <a
          href="{{ url_for('news.edit_news', news_slug=news.slug) }}"
          class="btn btn-secondary btn-sm"
          >Edit</a
        >
        <a
          href="{{ url_for('news.delete_news', news_id=news.id) }}"
          class="btn btn-danger btn-sm"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  var ctx = document.getElementById("personalTrainingChart").getContext("2d");
  var personalTrainingChart = new Chart(ctx, {
    type: "bar", // Bar grafikon za prikaz različitih aspekata treninga
    data: {
      labels: [
        "Trening",
        "Ishrana",
        "Hidratacija",
        "San",
        "Oporavak",
        "Motivacija",
        "Nutricionistički saveti",
      ],
      datasets: [
        {
          label: "Nivo važnosti",
          data: [8, 7, 6, 8, 5, 7, 6], // Ovo predstavlja nivo važnosti svakog aspekta
          backgroundColor: [
            "rgba(255, 99, 132, 0.2)",
            "rgba(54, 162, 235, 0.2)",
            "rgba(255, 206, 86, 0.2)",
            "rgba(75, 192, 192, 0.2)",
            "rgba(153, 102, 255, 0.2)",
            "rgba(255, 159, 64, 0.2)",
            "rgba(255, 99, 132, 0.2)",
          ],
          borderColor: [
            "rgba(255, 99, 132, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 206, 86, 1)",
            "rgba(75, 192, 192, 1)",
            "rgba(153, 102, 255, 1)",
            "rgba(255, 159, 64, 1)",
            "rgba(255, 99, 132, 1)",
          ],
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          suggestedMax: 10,
        },
      },
    },
  });
</script>

<script>
  var ctxRadar = document.getElementById("radarChart").getContext("2d");
  var radarChart = new Chart(ctxRadar, {
    type: "line",
    data: {
      labels: [
        "Eating",
        "Drinking",
        "Sleeping",
        "Designing",
        "Coding",
        "Cycling",
        "Running",
      ],
      datasets: [
        {
          label: "Activity",
          data: [65, 59, 90, 81, 56, 55, 40],
          fill: true,
          backgroundColor: "rgba(255, 99, 132, 0.2)",
          borderColor: "rgb(255, 99, 132)",
          pointBackgroundColor: "rgb(255, 99, 132)",
          pointBorderColor: "#fff",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgb(255, 99, 132)",
        },
        {
          label: "Live",
          data: [28, 48, 40, 19, 96, 27, 100],
          fill: true,
          backgroundColor: "rgba(54, 162, 235, 0.2)",
          borderColor: "rgb(54, 162, 235)",
          pointBackgroundColor: "rgb(54, 162, 235)",
          pointBorderColor: "#fff",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgb(54, 162, 235)",
        },
      ],
    },
    options: {
      elements: {
        line: {
          borderWidth: 3,
        },
      },
    },
  });
</script>

<script>
  var ctx = document.getElementById("blogStatisticsChart").getContext("2d");
  var blogStatisticsChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: ["Januar", "Februar", "Mart", "April", "Maj", "Jun", "Jul"],
      datasets: [
        {
          label: "Trenutni Lajkovi",
          data: [120, 150, 180, 200, 210, 230, 250],
          borderColor: "rgb(255, 99, 132)",
          backgroundColor: "rgba(255, 99, 132, 0.5)",
        },
        {
          label: "Registrovani Korisnici",
          data: [80, 100, 120, 140, 160, 180, 200],
          borderColor: "rgb(54, 162, 235)",
          backgroundColor: "rgba(54, 162, 235, 0.5)",
        },
        {
          label: "Ukupno Pregleda",
          data: [300, 400, 500, 600, 700, 800, 900],
          borderColor: "rgb(75, 192, 192)",
          backgroundColor: "rgba(75, 192, 192, 0.5)",
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", async function () {
    try {
      const response = await fetch("/admin/visits-data");
      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }
      const visitsData = await response.json();

      // Koristite moment.js za formatiranje datuma
      const formattedDates = visitsData.daily_visits.map((item) =>
        moment(item.date).format("YYYY-MM-DD")
      );

      const ctx = document.getElementById("visitsChart").getContext("2d");
      const visitsChart = new Chart(ctx, {
        type: "line", // Promenite tip grafikona u "line"
        data: {
          labels: formattedDates,
          datasets: [
            {
              label: "Daily Visits",
              data: visitsData.daily_visits.map((item) => item.visits),
              fill: true, // Dodajte fill opciju kako biste popunili ispod krive
              borderColor: "rgba(75, 192, 192, 1)",
              backgroundColor: "rgba(75, 192, 192, 0.2)",
              borderWidth: 2,
              tension: 0.4,
            },
          ],
        },
        options: {
          responsive: true,
          scales: {
            x: {
              type: "time",
              time: {
                unit: "day",
                parser: "YYYY-MM-DD",
              },
            },
            y: {
              beginAtZero: true,
            },
          },
          animation: {
            duration: 750,
          },
          plugins: {
            legend: {
              display: true,
              position: "top",
            },
            title: {
              display: true,
              text: "Visits Overview",
              font: {
                size: 18,
              },
            },
          },
          tooltips: {
            mode: "index",
            intersect: false,
          },
          hover: {
            mode: "nearest",
            intersect: true,
          },
        },
      });

      function updateChart(chart, label, data) {
        const formattedData = data.map((item) => ({
          date: moment(item.date).format("YYYY-MM-DD"),
          visits: item.visits,
        }));

        chart.data.labels = formattedData.map((item) => item.date);
        chart.data.datasets[0].data = formattedData.map((item) => item.visits);
        chart.data.datasets[0].label = label;
        chart.update({
          duration: 800,
          easing: "easeInOutQuad",
        });
      }

      document
        .getElementById("daily-btn")
        .addEventListener("click", function () {
          updateChart(visitsChart, "Daily Visits", visitsData.daily_visits);
        });
      document
        .getElementById("weekly-btn")
        .addEventListener("click", function () {
          updateChart(visitsChart, "Weekly Visits", visitsData.weekly_visits);
        });
      document
        .getElementById("monthly-btn")
        .addEventListener("click", function () {
          updateChart(visitsChart, "Monthly Visits", visitsData.monthly_visits);
        });
    } catch (error) {
      console.error("Error fetching visit data:", error);
    }
  });
</script>

{% endblock %}
