<!-- About the Trainer -->
<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="aboutDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    >Media</a
  >
  <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
    <li><h6 class="dropdown-header">Videos</h6></li>
    <li>
      <a
        class="dropdown-item"
        href="{{ url_for('pages.show_page', page_name='biography') }}"
        >To be added!</a
      >
    </li>
  </ul>
</li>
