{% extends 'base.html' %} {% block content %} {% if news_item.featured_image %}

<div class="container mt-4" style="margin: auto">
  {% endif %} {% if current_user.is_authenticated and current_user.is_admin %}
  <!-- Edit and Delete Buttons for the News Item -->
  <div class="mb-3">
    <a
      href="{{ url_for('news.edit_news', news_slug=news_item.slug) }}"
      class="btn btn-secondary"
      >Edit</a
    >
    <form
      action="{{ url_for('news.delete_news', news_id=news_item.id) }}"
      method="post"
      class="d-inline"
    >
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>
  {% endif %}
  <div style="max-height: 550px; overflow: hidden; border-radius: 6px">
    <img
      src="{{ url_for('static', filename='images/' + news_item.featured_image) }}"
      alt="{{ news_item.title }}"
      class="img-fluid w-100"
      style="object-fit: cover; height: 100%"
      <!--
      Modifikovan
      stil
      slike
      --
    />
  </div>
  <br />

  <h1 class="display-4 text-center">{{ news_item.title }}</h1>
  <p class="lead text-center">Uvodni pasus za novost - #treba optimizirati</p>
  <hr class="my-4" />
  <div class="tinymce-content">
    <p class="text-justify">{{ news_item.content | safe }}</p>
  </div>
</div>
<!-- Dodatni detalji o novosti... -->
{% endblock %}
